## 단원별 심화 연습 문제

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os

# set floating point formatting
pd.options.display.float_format = '{:,.1f}'.format
root_dir = '/mnt/elice/dataset/restaurant'

## Q5

In [2]:
sorted(glob.glob(os.path.join(root_dir, "*")))

['/mnt/elice/dataset/restaurant/chefmozaccepts.csv',
 '/mnt/elice/dataset/restaurant/chefmozcuisine.csv',
 '/mnt/elice/dataset/restaurant/chefmozhours4.csv',
 '/mnt/elice/dataset/restaurant/chefmozparking.csv',
 '/mnt/elice/dataset/restaurant/geoplaces2.csv',
 '/mnt/elice/dataset/restaurant/rating_final.csv',
 '/mnt/elice/dataset/restaurant/usercuisine.csv',
 '/mnt/elice/dataset/restaurant/userpayment.csv',
 '/mnt/elice/dataset/restaurant/userprofile.csv']

**Restaurants**
- chefmozaccepts.csv
- chefmozcuisine.csv
- chefmozhours4.csv
- chefmozparking.csv
- geoplaces2.csv

**Consumers**
- usercuisine.csv
- userpayment.csv
- userprofile.csv

**User-Item Rating**
- rating_final.csv

다음을 수행해 주세요.
- 아래 2개의 데이터를 병합 합니다.
- 병합한 후 `smoking_area`를 기준으로 그룹하여 `price`에 대한 데이터 분포(value_counts)를 확인합니다.
- 결과를 아래와 같은 데이터프레임 형식으로 출력합니다.

In [3]:
# 데이터셋
chefmozaccepts = pd.read_csv(os.path.join(root_dir, 'chefmozaccepts.csv'))
geoplaces2 = pd.read_csv(os.path.join(root_dir, 'geoplaces2.csv'))

In [13]:
# 코드를 입력해 주세요
sample = pd.merge(chefmozaccepts, geoplaces2).groupby('smoking_area')['price'].value_counts()
sample.name = 'values'

sample.reset_index()

     smoking_area   price  values
0            none  medium      61
1            none    high      35
2            none     low      24
3   not permitted  medium      32
4   not permitted     low      13
5     only at bar  medium       4
6       permitted  medium       9
7       permitted     low       5
8         section    high      47
9         section  medium      19
10        section     low       4

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>smoking_area</th>
      <th>price</th>
      <th>values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>none</td>
      <td>medium</td>
      <td>61</td>
    </tr>
    <tr>
      <th>1</th>
      <td>none</td>
      <td>high</td>
      <td>35</td>
    </tr>
    <tr>
      <th>2</th>
      <td>none</td>
      <td>low</td>
      <td>24</td>
    </tr>
    <tr>
      <th>3</th>
      <td>not permitted</td>
      <td>medium</td>
      <td>32</td>
    </tr>
    <tr>
      <th>4</th>
      <td>not permitted</td>
      <td>low</td>
      <td>13</td>
    </tr>
    <tr>
      <th>5</th>
      <td>only at bar</td>
      <td>medium</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>permitted</td>
      <td>medium</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>permitted</td>
      <td>low</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>section</td>
      <td>high</td>
      <td>47</td>
    </tr>
    <tr>
      <th>9</th>
      <td>section</td>
      <td>medium</td>
      <td>19</td>
    </tr>
    <tr>
      <th>10</th>
      <td>section</td>
      <td>low</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>

`userprofile.csv`와 `rating_final.csv`을 활용하여 다음을 산출해 주세요

- `rating_final.csv`와 `userprofile.csv`을 병합 후 `birth_year` 기준으로 1980년 이상 1989년 이하 출생(1980년대 출생자)자를 필터 후 `rating`의 평균과 표준편차를 산출해 주세요

In [14]:
# 데이터셋
userprofile = pd.read_csv(os.path.join(root_dir, 'userprofile.csv'))
rating_final = pd.read_csv(os.path.join(root_dir, 'rating_final.csv'))

In [20]:
# 코드를 입력해 주세요
merged = pd.merge(userprofile, rating_final)

cond = (merged['birth_year'] >= 1980) & (merged['birth_year'] <= 1989)

merged.loc[cond, 'rating'].agg(['mean', 'std'])

mean   1.1
std    0.8
Name: rating, dtype: float64

<p><strong>[출력 결과]</strong></p><pre>mean   1.1
std    0.8
Name: rating, dtype: float64</pre>

`userprofile.csv`, `rating_final.csv`, `geoplaces2.csv` 3개의 데이터를 활용하여 다음을 산출해 주세요
- 3개의 데이터를 `userID`와 `placeID`를 기준으로 병합하여 하나의 데이터프레임 형태로 만듭니다.

[병합 가이드라인]
- `userprofile.csv`와 `rating_final.csv`은 `userID`를 기준으로 `inner` 병합합니다.
- 이전에 병합한 데이터프레임과 `geoplaces2.csv`를 병합한 데이터프레임을 기준으로 `left` 병합합니다. 병합할 때 공통된 키값이 있을 경우 `on='placeID`를 지정합니다.
- 예시) `pd.merge(df1, df2, how='left', on='placeID')`

조건필터링
- 병합된 데이터프레임에서 `drink_level` 컬럼의 데이터가 `social drinker`인 기준으로 필터 후 `city` 별 `rating`의 평균을 도출해 냅니다.
- 결과는 내림차순 정렬하여 출력합니다.

In [21]:
# 데이터셋
userprofile = pd.read_csv(os.path.join(root_dir, 'userprofile.csv'))
rating_final = pd.read_csv(os.path.join(root_dir, 'rating_final.csv'))
geoplaces2 = pd.read_csv(os.path.join(root_dir, 'geoplaces2.csv'))

In [34]:
# 코드를 입력해 주세요
merged = pd.merge(userprofile, rating_final, on='userID')
merged2 = pd.merge(merged, geoplaces2, how='left', on='placeID')

cond = (merged2['drink_level'] == 'social drinker')

sample2 = merged2.loc[cond].groupby('city')['rating'].mean().reset_index().sort_values('rating', ascending=False).reset_index(drop=True)

sample2

                city  rating
0           Jiutepec     2.0
1         cuernavaca     2.0
2     san luis potos     2.0
3             s.l.p.     1.5
4                  ?     1.4
5    San Luis Potosi     1.3
6    san luis potosi     1.3
7   san luis potosi      1.2
8                slp     1.2
9         Cuernavaca     1.2
10          victoria     1.1
11   Ciudad Victoria     1.0
12           Soledad     1.0
13             s.l.p     1.0
14       Cd Victoria     0.0

<p><strong>[출력 결과]</strong></p><div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Jiutepec</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>cuernavaca</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>san luis potos</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>s.l.p.</td>
      <td>1.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>?</td>
      <td>1.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>San Luis Potosi</td>
      <td>1.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>san luis potosi</td>
      <td>1.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>san luis potosi</td>
      <td>1.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>slp</td>
      <td>1.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Cuernavaca</td>
      <td>1.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>victoria</td>
      <td>1.1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Ciudad Victoria</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Soledad</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>s.l.p</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Cd Victoria</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

## 제출

제출을 위해 아래에 새로 불러온 `chefmozaccepts.csv`와 `geoplaces2.csv` 데이터에 아래 작업을 수행한 결과를 `result_df`에 저장하세요.

- 2개의 데이터를 병합 합니다.
- 병합한 후 `smoking_area`를 기준으로 그룹하여 `price`에 대한 데이터 분포(value_counts)를 구하고 컬럼 이름을 `values`로 설정합니다.
- 위 결과에 인덱스를 초기화하여 데이터프레임 형식으로 저장합니다.

In [37]:
chefmozaccepts = pd.read_csv(os.path.join(root_dir, 'chefmozaccepts.csv'))
geoplaces2 = pd.read_csv(os.path.join(root_dir, 'geoplaces2.csv'))

merged = pd.merge(chefmozaccepts, geoplaces2).groupby('smoking_area')['price'].value_counts()

merged.name = 'values'

result_df = merged.reset_index()

result_df

     smoking_area   price  values
0            none  medium      61
1            none    high      35
2            none     low      24
3   not permitted  medium      32
4   not permitted     low      13
5     only at bar  medium       4
6       permitted  medium       9
7       permitted     low       5
8         section    high      47
9         section  medium      19
10        section     low       4

## 채점 수행

아래 코드는 채점 수행을 위한 코드입니다.

따라서 이를 수정했을시 **채점이 제대로 이루어지지 않습니다.**

**주의**: 채점 코드를 실행하기 전에 반드시 코드 파일을 한번 저장하시길 바랍니다.

In [38]:
import os

result_df.to_json('result.json')

os.system('elice_grade result.json cds_ds_exercise.ipynb')

send files ['result.json', 'cds_ds_exercise.ipynb'] for grade...
waiting result...
waiting result...
waiting result...
done!

Score: 100.000000
Duration: 2.662 seconds
=== Message ===
제출 완료되었습니다.

0